/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Lora", serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #353535;
}

html {
    scroll-behavior: smooth;
}

/* Layout */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    display: flex;
    align-items: baseline;
    padding: 20px;
    border-bottom: 1px solid #eceaea;
}

.web-title a {
    font-family: "Playwrite CU";
    font-size: 30px;
    font-weight: 800;
    color: #2c2c2c;
    text-decoration: none;
    margin-left: 30px;
}

.nav-links {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-family: 'Libre Franklin';
    font-size: 18px;
    color: #4f4f4f;
    text-decoration: none;
}

/* Main content */
.middle {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

/* Avatar */
.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    position: absolute;
    top: -38px;
    left: 280px;
    opacity: 0.8;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.159);
    filter: grayscale(25%);
}

/* Top content */
.top-content {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.top-content h1 {
    font-family: "Playwrite CU";
    position: absolute;
    top: -40px;
    left: -55px;
    font-size: 50px;
    font-weight: 600;
    color: #333;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

.top-content p {
    margin-top: 55px;
    padding: 15px;
    font-size: 16px;
    text-align: justify;
}

.enjoy {
    font-family: "Playwrite CU";
    font-size: 28px;
    font-weight: 600;
    float: right;
    margin-right: -15px;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

/* Navigation styles */
.type-nav, .function-nav {
    padding: inherit;
    position: absolute;
    left: 650px;
    width: 250px;
    border-radius: inherit;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.type-nav { top: 0; }
.function-nav { top: 500px; }

.type-nav h2, .function-nav h2 {
    font-family: "Lora";
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

.type-nav ul, .function-nav ul {
    display: flex;
    flex-direction: column;
}

.type-nav ul li a, .function-nav ul li a {
    font-size: 16px;
    border-radius: 6px;
    padding: 5px 10px;
    line-height: 25px;
    margin-left: -15px;
}

.type-nav ul li a:hover, .function-nav ul li a:hover {
    background-color: #e2e2e2ae;
}

/* Main content styles */
.first-letter {
    float: left;
    font-family: 'Georgia';
    font-size: 60px;
    line-height: 1em;
    margin-right: 8px;
    text-shadow: hsla(0, 0%, 25%, 0.342) 2px 2px 3px;
}

.main-content {
    position: relative;
    padding: 20px;
    text-align: justify;
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 60px auto;
}

.main-content p {
    margin-top: 55px;
    padding: 5px 15px;
    font-size: 16px;
}

.content-title {
    font-family: "Playwrite CU";
    position: absolute;
    top: -40px;
    left: -55px;
    font-size: 50px;
    font-weight: 600;
    color: #333;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

.featured-text {
    font-weight: 700;
}

.featured {
    padding: inherit;
    color: inherit;
}

/* Footer styles */
.bottom {
    padding: 50px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eceaea;
    background: repeating-linear-gradient(135deg, #f6f6f6 0, #f6f6f6 10%, transparent 0, transparent 50%);
    background-size: 5px 5px;
    background-color: #ffffff;
    opacity: 0.6;
}

.bottom p {
    font-size: 14px;
}

.bottom span {
    font-family: 'Playwrite CU';
    font-size: 14px;
}

/* Back to top button */
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000a0;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

#backToTopBtn:hover {
    background-color: #555;
}

#backToTopBtn.show {
    opacity: 1;
}