* {
    font-family: "Lora", serif;
    font-size: 17px;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* Styling of the header */

header {
    display: flex;
    align-items: baseline;
    padding: 20px;
    text-align: center;
    border-bottom: #eceaea 1px solid;
}

.web-title a {
    text-decoration: none;
    color: #2c2c2c;
    font-weight: 800;
    font-family: "Playwrite CU";
    font-size: 30px;
    margin-left: 30px;
}

/* Styling of the navigation bar */

.nav-links {
    margin-left: auto;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #4f4f4f;
    text-decoration: none;
    font-size: 18px;
}

/* Styling of the main content */

.middle {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

/* Styling of the avatar */

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
    position: absolute;
    top: -38px;
    left: 280px;
    opacity: 0.8;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.159);
    -webkit-filter: grayscale(100%);
    filter: grayscale(25%);
}

/* Styling of the top section content */

.top-content {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-top: 50px;
    position: relative;
    /* background:
        radial-gradient(circle at 100% 20%, #bab0a42d, transparent 30%),
        linear-gradient(20deg, #bab0a433, #ffffff 30%); */
}

.top-content h1 {
    font-family: "Playwrite CU";
    position: absolute;
    top: -40px;
    left: -55px;
    font-size: 50px;
    font-weight: 600;
    color: #333;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

.top-content p {
    margin-top: 55px;
    padding: 15px;
    font-size: 16px;
    color: #353535;
    text-align: justify;
    /* font-family: 'Libre Franklin'; */
}

.enjoy {
    font-family: "Playwrite CU";
    font-size: 28px;
    color: #353535;
    font-weight: 600;
    float: right;
    margin-right: -15px;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

/* Styling of the middle section content */

.first-letter {
    color: #353535;
    float: left;
    font-family: 'Georgia';
    font-size: 60px;
    line-height: 1em;
    margin-right: 8px;
    text-shadow: hsla(0, 0%, 25%, 0.342) 2px 2px 3px;
}

.main-content {
    position: relative;
    padding: 20px;
    text-align: justify;
    background: linear-gradient(to bottom right, #ffffff, #ffffff);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 60px auto;
}

.main-content p {
    margin-top: 55px;
    padding: 5px 15px;
    font-size: 16px;
    color: #353535;
    text-align: justify;
}

.content-title {
    font-family: "Playwrite CU";
    position: absolute;
    top: -40px;
    left: -55px;
    font-size: 50px;
    font-weight: 600;
    color: #333;
    text-shadow: hsla(0, 0%, 31%, 0.251) 2px 2px 3px;
}

.featured-text {
    font-weight: 700;
}

.featured {
    padding: inherit;
    color: inherit;
}

/* Styling of the footer */

.bottom {
    padding: 50px;
    text-align: center;
    width: 100%;
    border-top: #eceaea 1px solid;
    background: repeating-linear-gradient(135deg, #f6f6f6 0, #f6f6f6 10%, transparent 0, transparent 50%);
    background-size: 5px 5px;
    background-color: #ffffff;
    opacity: 0.6;
}

.bottom p {
    font-size: 14px;
}

.bottom span {
    font-family: 'Playwrite CU';
    font-size: 14px;
}